<section class="archivist-sheet">
    <aside class="archivist-sidebar">
        <header class="archivist-header">
            {{#if setup.image}}
            <img class="archivist-avatar" src="{{setup.image}}" alt="" />
            {{else if document.img}}
            <img class="archivist-avatar" src="{{document.img}}" alt="" />
            {{/if}}
            {{#if setup.editingInfo}}
            <input class="archivist-title-input" type="text" value="{{setup.name}}" />
            {{else}}
            <h2 class="archivist-title">{{setup.name}}</h2>
            {{/if}}
            <small class="archivist-subtitle">{{localize sheetTypeLabel}}</small>
            {{#if setup.isGM}}
            <button type="button" class="archivist-edit-toggle" data-action="toggle-edit-mode"
                title="{{#if setup.editingInfo}}Save{{else}}Edit{{/if}}">
                {{#if setup.editingInfo}}<i class="fa-solid fa-unlock"></i>{{else}}<i
                    class="fa-solid fa-lock"></i>{{/if}}
                <span class="label">{{#if setup.editingInfo}}Save{{else}}Edit{{/if}}</span>
            </button>
            {{/if}}
        </header>
        <nav class="archivist-nav tabs" data-group="archivist">
            <a class="item" data-tab="info">{{localize 'Info'}}</a>
            <a class="item" data-tab="people">{{localize 'People'}}</a>
            <a class="item" data-tab="items">{{localize 'Items'}}</a>
            <a class="item" data-tab="locations">{{localize 'Locations'}}</a>
            <a class="item" data-tab="journals">{{localize 'Journals'}}</a>
            <a class="item" data-tab="notes">{{localize 'Notes'}}</a>
        </nav>
    </aside>
    <main class="archivist-content">
        <section class="tab" data-tab="info">
            <div class="archivist-info">
                {{#if setup.editingInfo}}
                <prose-mirror name="text.content" value="{{setup.rawContent}}" document-uuid="{{setup.pageUuid}}"
                    compact="true" toggled>
                    {{{htmlContent}}}
                </prose-mirror>
                {{else}}
                {{{htmlContent}}}
                {{/if}}
            </div>
        </section>
        <section class="tab" data-tab="people">
            <div class="archivist-grid"></div>
        </section>
        <section class="tab" data-tab="items">
            <div class="archivist-grid"></div>
        </section>
        <section class="tab" data-tab="locations">
            <div class="archivist-grid"></div>
        </section>
        <section class="tab" data-tab="journals">
            <div class="archivist-grid archivist-journals">
                <!-- linked journals/pages go here -->
            </div>
        </section>
        <section class="tab" data-tab="notes">
            {{#if setup.isGM}}
            <div class="archivist-notes">
                <prose-mirror name="gmNotes" value="{{setup.gmNotes}}" compact="true" toggled>
                    {{{setup.gmNotes}}}
                </prose-mirror>
            </div>
            {{else}}
            <div class="archivist-notes">
                <p class="hint"><i class="fas fa-lock"></i> GM-only notes are not visible to players.</p>
            </div>
            {{/if}}
        </section>
    </main>
</section>